html,body {
    background: #000;
    color: white;
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}
 
img {
    max-width:100%;
    max-height:100%;
    height: auto;
    width: auto\9; 
}

.square {
    position: relative; 
    height:100vmin;
    width:100vmin;
    margin:auto;
    background: wheat;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.content {
    position: absolute;
    border-style: solid;
    border-width: 0px 5px 0px 5px;
    border-color: #000;
    background: #2c2c2c;
    width: 100%; 
    height: 100%;
}

.points {
    position: absolute;
    background: #3b3b3b; 
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #000;
    width: 100%;
    height: 15%;
    bottom:0;
}

.questionBody {
    position: absolute; 
    background: white;
    width: 100%;
    height: 79%;
}

.center { 
    position: absolute;
    right: 0;
    top: 0;
}
 
.button {
    width: 40vmin;
    margin-top: 5vmin;
}

.timerContent {
    position: absolute; 
    background: yellow;
    width: 100%;
    height: 79%;
}


/*
.img {
    width: 100%;
    height: 0;
    padding-bottom: 82%;
    background: white; 
    margin:0 auto;
}*/

.navigationBar {
    height: 5%; 
    position: relative; 
    background: #3b3b3b; 
}

.navigationLine {
     height: 0.7%;
     background: #000; 
}   

.navigationTitle { 
    font-size: 3vmin;
    width:100%;
}

.closeButton {
    height:5vh; 
    width: 5vh; 
    text-align: center;
    cursor: pointer;
    background: #222222; 
}

.imgClose {
    height: 60%;
    width: 60%;
}

.imgPointer {
    cursor: pointer;
    top:0;
    right: 0;
    position: absolute;
    z-index: 1;
}

.imgPointerCity {
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

.pin {
    z-index: 1;
    position:absolute;
    
}

.imgPointerYellow {
    top:0;
    right: 0;
    position: absolute;
    z-index: 3;
}

.imgCorrect {
    top:0;
    right: 0;
    position: absolute;
    z-index: 4;
}

.image-container {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
}

.questions {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background: #222222; 
} 

.question-label {
    font-size: 4vmin;
    margin-left: 7vmin;
    margin-right: 7vmin;
    margin-bottom: 5vmin;
    text-align: center;
}

.question-button {
    background: #fff;
    border-radius: 5px;
    width:40vmin;
    cursor: pointer;
    height:7vmin;
    font-size: 3vmin;
    margin-left: 7vmin;
    margin-right: 7vmin;
    margin-bottom: 5vmin;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.question-button-correct {
    background: #78af02;
    border-radius: 5px;
    width:40vmin;
    cursor: pointer;
    height:7vmin;
    font-size: 3vmin;
    margin-left: 7vmin;
    margin-right: 7vmin;
    margin-bottom: 5vmin;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.question-button-player {
    background: #ecce16;
    border-radius: 5px;
    width:40vmin;
    cursor: pointer;
    height:7vmin;
    font-size: 3vmin;
    margin-left: 7vmin;
    margin-right: 7vmin;
    margin-bottom: 5vmin;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.question-button-bot {
    background: #169dd8;
    border-radius: 5px;
    width:40vmin;
    cursor: pointer;
    height:7vmin;
    font-size: 3vmin;
    margin-left: 7vmin;
    margin-right: 7vmin;
    margin-bottom: 5vmin;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.question-button-both {
    background: repeating-linear-gradient(
    45deg,
    #ecce16,
    #ecce16 10px,
    #169dd8 10px,
    #169dd8 20px);
    border-radius: 5px;
    width:40vmin;
    cursor: pointer;
    height:7vmin;
    font-size: 3vmin;
    margin-left: 7vmin;
    margin-right: 7vmin;
    margin-bottom: 5vmin;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.question-content {
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;     
    -ms-user-select: none;      
    flex-grow: 1;
    user-select: none;  
    color:#222222;
}

.arrow-right {
  width: 0; 
  height: 0; 
  flex-grow: 1;
  border-top: 1.5vmin solid transparent;
  border-bottom: 1.5vmin solid transparent;
  border-left: 1.5vmin solid #222222;
} 

.arrow-right-transparent {
  width: 0; 
  height: 0; 
  flex-grow: 1;
  border-top: 1.5vmin solid transparent;
  border-bottom: 1.5vmin solid transparent;
  border-left: 1.5vmin solid transparent;
}  

.arrow-left {
  width: 0; 
  height: 0; 
  flex-grow: 1;
  border-top: 1.5vmin solid transparent;
  border-bottom: 1.5vmin solid transparent; 
  border-right: 1.5vmin solid #222222; 
} 

.arrow-left-transparent {
  width: 0; 
  height: 0; 
  flex-grow: 1;
  border-top: 1.5vmin solid transparent;
  border-bottom: 1.5vmin solid transparent; 
  border-right: 1.5vmin solid transparent; 
} 
